.aboutSection {
    letter-spacing: 1px;
    padding: 60px 0;
}

.aboutTitle, .aboutEducationTitle {
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
}

.mainHeading {
    color: var(--primary-color);
    font-weight: 600;
}

.highlight {
    color: var(--secondary-color);
    font-weight: 700;
}

.preLine {
    /* To make paragraph respects line breaks in myAbout file */
    white-space: pre-line;
}

.disabledInLg {
    display: none;
}

@media (max-width: 991px) {
    .aboutSection {
        padding-right: 5px !important;
        padding-left: 8px !important;
    }
    .disabledInLg {
        display: block;
        border-top: 2px solid var(--secondary-color);
        opacity: 0.5;
        margin: 2rem 0;
    }
    .mainHeading {
        font-size: 20px;
    }
}